#main
{
	border:1px solid black;
	width:500px;
	height:500px;
	background-color:lightblue;
}
#body
{
	border:1px solid black;
	width:100px;
	height:100px;
	background-color:red;
	margin-top:200px;
	margin-left:200px;
}