#body1
{
	width:820px;
	height:100px;
	border:1px solid black;
}
#body2
{
	width:200px;
	height:425px;
	border:1px solid black;
	margin-top:10px;
}
#body3
{
	width:400px;
	height:105px;
	border:1px solid black;
	margin-left:210px;
	margin-top:-425px;
}
#body4
{
	width:400px;
	height:305px;
	border:1px solid black;
	margin-left:210px;
	margin-top:10px;
}
#body5
{
	width:200px;
	height:425px;
	border:1px solid black;
	margin-top:-425px;
	margin-left:620px;
}

#body6
{
	width:30px;
	height:30px;
	border:1px solid black;
	margin-left:60px;
	margin-top:35px;
}
#body7
{
	width:30px;
	height:30px;
	border:1px solid black;
	margin-top:-32px;
	margin-left:120px;
}
#body8
{
	width:30px;
	height:30px;
	border:1px solid black;
	margin-left:180px;
	margin-top:-32px;
}
#body9
{
	width:30px;
	height:30px;
	border:1px solid black;
	margin-left:240px;
	margin-top:-32px;
}
#body10
{
	width:30px;
	height:30px;
	border:1px solid black;
	margin-left:300px;
	margin-top:-32px;
}